includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 7

    ignoreErrors:
        - '#PHPDoc tag @var# '

    excludePaths:
        - ./vendor/
        - ./storage/
        - ./bootstrap/cache/
        - ./*.blade.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
