apiVersion: v1
kind: Secret
metadata:
  name: rizquna-secrets
  namespace: rizquna-erp
type: Opaque
stringData:
  APP_KEY: "base64:CHANGEME_GENERATE_WITH_php_artisan_key_generate"
  DB_USERNAME: "postgres"
  DB_PASSWORD: "CHANGEME_STRONG_PASSWORD"
  REDIS_PASSWORD: "CHANGEME_REDIS_PASSWORD"
  MINIO_ROOT_USER: "admin"
  MINIO_ROOT_PASSWORD: "CHANGEME_MINIO_PASSWORD"
